.chevron-down-navbar {
    /* height: 15px; */
    width: 15px;
}

.logo-navbar {
    width: 30px;
}

.search-image_navbar {
    width: 30px;
}

.notification_navbar {
    width: 30px;

}

.info_navbar {
    width: 30px;
}