@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.auth-state {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-background {
  background-image: url(../../assets/images/sign-in.jpeg);
}

.sign-up-background {
  background-image: url(../../assets/images/sign-up.jpeg);
}

.sign-up {
  height: 480px !important;
}

.auth-container {
  width: 370px;
  height: 380px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px -1px rgb(0, 0, 0, 30%);
  background: transparent;
  backdrop-filter: blur(20px);
}

.auth-container h1 {
  color: #FFFFFF;
  margin: 0px 0px 8px 0px;
}

/* hERE */
.inputs-container {
  position: relative;
  width: 294px;
}

.inputs-container label {
  font-size: 14px;
  color: #FFFFFF;
}

.inputs-container i {
  position: absolute;
  top: 50%;
  right: 10px;
}

.inputs-container input {
  border: 1px solid #dfdede;
  border-radius: 14px;
  padding: 5px 30px 5px 10px;
  width: 100%;
  height: 34px;
  margin: 8px 0px 16px 0px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: transparent;
}

.sign-in-options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
  color: #FFFFFF;
  margin: 0px 0px 18px 0px;;
}

.sign-in-options div {
  display: flex;
  gap: 5px;
  color: #FFFFFF;
}

.button-sign-in {
  width: 248px;
  height: 34px;
  margin: 0 auto;
  display: block;
  border-radius: 14px;
  background-color: #FFFFFF;
  color: #333;
  font-weight: bold;
}

.button-sign-in:hover {
  background-color: #EFEFEF;
}

.text-footer-sign-in {
  font-size: 13px;
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
  text-align: center;
}

.text-footer-sign-in strong:hover, .sign-in-options p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkbox-remember-me {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #FFFFFF;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox-remember-me:checked {
  background-color: white;
  position: relative;
}

.checkbox-remember-me:checked:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 0px;
  width: 4px;
  height: 6px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sign-in-error {
  width: 259px;
  height: 50px;
  font-size: 13px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 10px -1px rgb(0, 0, 0, 30%);
  color: #FFFFFF;
  border: 1px solid #BABABA;
  border-radius: 6px;
}

.sign-in-error i {
  margin: 0px 10px 0px 16px;
  color: #dd5959;
}
