# Configurar lenguajes
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.php linguist-language=PHP

# Ignorar directorios de dependencias
/vendor/* linguist-vendored
/node_modules/* linguist-vendored
*.lock linguist-vendored