@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Project screen (Main) */
#project-screen-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "navbar"
    "content";
  height: 100vh;
  overflow: hidden;
}

#update-background {
  display: flex;
  flex-direction: column;
}

.apply-background-button, .logout-button {
  padding: 7.5px 11px;
}

#background-project-screen {
  display: none;
}

#project-screen {
  width: 100%;
  grid-area: main;
  grid-row: 2;
  grid-column: 2;
  overflow: auto;
}

#layout {
  grid-area: content;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "aside main";
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.layout-with-hidden-aside {
  display: flex !important;
  flex-direction: row;
}

#project-planning-screen {
  background-color: #17171675;
  width: 100vw;
  height: 60px;
  justify-content: space-between;
  padding: 0px 10px;
  position: relative;
}

#project-screen-settings {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

.lists-layout {
  display: flex;
  padding: 10px;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 84vh;
  width: 100vw;
}

#planning-project-menu {
  position: relative;
}

.content-left-header-planning-project, #project-planning-screen, .content-right-header-planning-project, #planning-project-menu, #members-project-icon, .title-project {
    display: flex;
    align-items: center;
}

.img-background-style.selected {
  border: 2px solid #007bff;
  transform: scale(1.1);
  transition: transform 0.2s ease, border 0.2s ease;
}

.img-background-style:hover {
  cursor: pointer;
  opacity: 0.8;
}

.title-project:hover, #members-project-icon:hover, #planning-project-menu:hover {
    border-radius: 3px;
    background-color: #c2c2c257;
    cursor: pointer;
}

.title-project {
    width: auto;
    height: 38px;
    justify-content: center;
}

.title-project span {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

#members-project-icon {
    width: 36px;
    height: 32px;
    justify-content: center;
}

#members-project-icon i {
    font-size: 11px;
}

.content-right-header-planning-project {
    gap: 12px;
}

#share-project {
    padding: 8px 14px;
}

.user-plus-share-project {
    margin: 0px 4px 0px 0px;
}

.add-card-styles {
    width: 100%;
}

#planning-project-menu {
    width: 36px;
    height: 32px;
    justify-content: center;
}

#planning-project-menu i {
    font-size: 18px;
}

    /* Section lists & cards */
.dropdown-list ul li {
  cursor: pointer;
}

.dropdown-list ul li:hover {
  background-color: #c2c2c230;
}

.container-lists-cards {
    width: auto;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cards-style {
    width: 287px;
    height: auto;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 5px 15px;
}

.add-card-styles button {
    padding: 6px 14px;
}

.add-card-styles i {
    padding: 8px;
    border-radius: 8px;
    font-size: 13px;
}

.add-card-styles i:hover {
    background-color: #c2c2c27d;
}

.header-title-card {
    padding: 13px 10px 7px 14px;
    position: relative;
}

.header-title-card, .lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-card {
    font-size: 15px;
    font-weight: bold;
    color: #3f4547;
}

.container-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 10px 0px 4px 0px;
}

.lists {
    width: 265px;
    height: 35px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px -2px rgb(0, 0, 0, 30%);
    font-size: 13.5px;
    font-weight: 500;
    color: #545c5f;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.lists:hover {
    border: 2px solid #00AEE5;
}

.container-add-a-list {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    border-radius: 8px;
    width: 265px;
    height: 35px;
    margin: 2px 0px 0px 0px;
}

.container-add-a-list:hover {
    background-color: #c2c2c27d;
}

.container-add-a-list i {
    font-size: 13px;
    color: #545c5f;
}

.container-add-a-list p {
    font-weight: 600;
    font-size: 14px;
    color: #545c5f;
}

.styles-white-add-a-list {
    background-color: #c2c2c280;
    width: 287px;
    height: 42px;
    border-radius: 10px;
    margin: 12px;
}

.styles-white-add-a-list p {
    color: #ffffff;
}

.styles-white-add-a-list i {
    color: #ffffff;
}

.styles-white-add-a-list:hover {
    background-color: #8585855c;
}

.title-card, .lists, .add-a-list {
    cursor: pointer;
}
