/* Main: YOUR PROJECTS */

#sidebar-yourWorkspaces {
  display: flex;
}

#your-projects {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 0px 22px 42px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-workspace {
  margin: 34px 0px 12px 0px;
  color: #3f4547;
  font-size: 20px;
}

.container-name-workspace {
  display: flex;
  align-items: center;
}

#letter-personal-workspace {
  background-color: #FFA7A7;
}

.letter-workspace {
  width: 35px;
  height: 35px;
  border-radius: 3.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-workspace span {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
}

#letter-university-workspace {
  background-color: #97FF8E;
}

.main-name-workspace {
  color: #3f4547;
  font-size: 17px;
  font-weight: 650;
}

.container-title-buttons {
  display: flex;
  justify-content: space-between;
  margin: 6px 27px 15px 12px;
  gap: 62px;
}

.content-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin: 0px 35px 0px 0px; */
  margin: 0px 160px 0px 0px;
}

.buttons-workspace-style {
  width: 118px;
  height: 31px;
  border-radius: 5px;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.buttons-workspace-style i {
  width: 16px;
}

.buttons-workspace-style:hover {
  background-color: #00000023;
}

.buttons-workspace-style span {
  color: #454545;
  font-size: 13px;
  font-weight: 650;
}

.name-workspace-main {
  font-size: 16px;
  font-weight: 650;
  color: #3f4547;
  margin: 0px 12px;
}

.container-projects {
  display: flex;
  gap: 26px;
  margin: 0px 5px 30px 5px;
  padding: 6px 0px 0px 0px;
  flex-wrap: wrap;
}

.projects-styles {
  width: 212px;
  height: 91px;
  border-radius: 3px;
  background-size: cover;
  cursor: pointer;
}

.new-project-styles:hover {
  background-color: #00000023;
}

.div-hover-projects {
  width: 100%;
  height: 100%;
  padding: 15px 16px;
}

.div-hover-projects:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

.new-project-styles {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-new-project p {
  color: #697377;
  font-size: 15px;
  font-weight: 100;
}

.projects-styles p {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

#project-1 {
  background-image: url(../../assets/images/bosque-1.png);
}

#family-project {
  background-image: url(../../assets/images/bosque-3.jpeg);
}

.title-container-recently-seen {
  display: flex;
  align-items: center;
  margin: 28px 0px 8px 6px;
}

.clock-main {
  font-size: 18px;
  margin: 0px 10px 0px 0px;
}

.title-recently-seen {
  font-size: 16px;
  margin: 0px;
}

#semester-4 {
  background-image: url(../../assets/images/bosque-4.jpeg);
}

#final-thesis {
  background-image: url(../../assets/images/bosque-2.jpeg);
}

#syllabus-project {
  background-image: url(../../assets/images/bosque-5.jpg);
}

.users-a-guest {
  font-size: 20px;
}

#closed-projects-button {
  color: #697377;
  font-size: 14px;
  font-weight: 300;
  background-color: #F0F0F0;
  border-radius: 5px;
  width: 204px;
  height: 31px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0px 0px 0px;
  padding: 8px 0px;
}
      /* Drodown settings workspaces - Delete workspace */
.workspace-settings-dropdown, .list-of-team-members-container, .list-of-team-projects-container, .leave-container {
  position: absolute;
  box-shadow: 0px 2px 10px -3px rgb(0, 0, 0, 30%);
  background-color: #ffffff;
  padding: 24px;
  border-radius: 6px;
}

.workspace-settings-dropdown h4 {
  color: #545c5f;
  font-size: 14px;
  font-weight: 650;
  margin: 0px 0px 10px 0px;
}

.container-settings-delete, .container-options-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.workspace-settings-container button, .settings-workspace-btn, .delete-workspace-btn {
  width: 70%;
  padding: 6px;
  margin: 5px;
}

.workspace-settings-container {
  text-align: center;
}

.dropdown-confirm-delete-workspace, .dropdown-confirm-styles, .confirm-permission-dropdown, .dropdown-confirm-delete {
  font-size: 14px;
  color: #3f4547;
}

.workspace-name-input {
  width: 100%;
  padding: 8px;
  margin:16px 0px 12px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#confirm-delete-button, .cancel-btn-styles, .confirm-btn-styles, #cancel-delete-button, .confirm-switch-role, .cancel-switch-role , .confirm-remove-member, .cancel-remove-member, .confirm-delete-team, .cancel-delete-team, #confirm-delete-team, #cancel-delete-team {
  width: 90%;
  padding: 8px;
  margin: 5px 2px 2px 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#confirm-delete-button, .confirm-btn-styles, .confirm-switch-role, .confirm-remove-member, .confirm-delete-team, #confirm-delete-team {
  background-color: #00AEE5;
  color: white;
}

#confirm-delete-button:hover, .confirm-btn-styles:hover, .confirm-switch-role:hover, .confirm-remove-member:hover, .confirm-delete-team:hover, #confirm-delete-team:hover {
  background-color: #00A1D4;
}

#cancel-delete-button, .cancel-changes-btn, .cancel-btn-styles, .cancel-switch-role, .cancel-remove-member, .cancel-delete-team, #cancel-delete-team {
  background-color: #F0F0F0;
  color: #3F4547;
  font-weight: 500;
}

#cancel-delete-button:hover, .cancel-changes-btn:hover, .cancel-btn-styles:hover,  .cancel-switch-role:hover, .cancel-remove-member:hover, .cancel-delete-team:hover, #cancel-delete-team:hover {
  background-color: #D9D9D9;
}

.delete-workspace-btn, .workspace-members-settings {
  background-color: #E8EAEB;
  color: #3F4547;
  font-weight: 500;
}

.delete-workspace-btn:hover, .workspace-members-settings:hover {
  background-color: #D9D9D9;
}

.settings-workspace-btn, .delete-workspace-btn {
  width: 100%;
  padding: 8px;
  margin: 0 0 5px 0;
}

.workspace-members-settings {
  margin: 10px 0px 5px 0px;
}

.line {
  height: 1px;
  width: 100%;
  border-radius: 4px;
  background-color: #dddddd;
  margin: 14px 0px;
}

.edit-workspace {
  width: 258px;
  height: 35px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #A1A1A1;
  outline: none;
  padding: 10px 12px;
  color: #191c1c;
  font-family: Lora;
  margin: 6px 0px;
}

.container-btns-workspace-settings {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 100%;
}
