@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* SIDEBAR */

#sidebar {
  width: 285px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 0px 0px 75px;
}

.content-sidebar {
  width: 96%;
}

.container-projects-settings {
  margin: 28px 0px;
}

.content-workspace-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.content-workspace-btn i {
  margin: 0px 5px 0px 0px;
}

.content-workspace-btn:hover {
  background: #E4ECF1;
}

.content-workspace-btn.clicked  {
  background-color: #E4ECF1;
}

.project-list-dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px -3px rgb(0, 0, 0, 30%);
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.workspaces-sidebar-styles {
  /* gap: 2px; */
  display: flex;
  flex-direction: column;
  /* margin-left: 3px; */
}

.content-projects-settings {
  width: auto;
  height: 34px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0px 14px;
  margin-bottom: 4px;
  cursor: pointer;
}

.projects-sidebar-styles {
  background-color: #D2ECFF;
}

.projects-sidebar-styles p {
}

.content-projects-settings:hover, .container-projects-aside:hover {
  background-color: #E4ECF1;
}

.img-projects-sidebar {
  color: #00AEE5;
}

.content-projects-settings i {
  font-size: 18px;
}

.content-projects-settings p {
  font-size: 13.5px;
  font-weight: 620;
  margin-left: 15px;
  color: #00AEE5;
}

.img-settings-sidebar {
  color: #545c5f;
}

.img-settings-sidebar.clicked {
  color: #00AEE5;
}

#settings-sidebar.clicked {
  background-color: #D2ECFF;
}

#settings-sidebar.clicked p {
  color: #00AEE5;
}

.container-workspaces-sidebar {
  border-top: 1px solid #EAEAEA;
}

.h4-sidebar {
  margin: 28px 0px 14px 8px;
  font-size: 14px;
  font-weight: 700;
}

.workspace-letter-sidebar {
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 600;
}

.name-workspace-sidebar-styles {
  font-size: 14px;
  font-weight: 650;
  margin: 0px 12px;
}
