/* CREATE A WORKSPACE */
/* .size-container {
  width: 100vw;
  height: 100vh;
} */

.creation-screen-styles {
  width: 1132px;
  height: 594px;
  border-radius: 3px;
  background: linear-gradient(-39deg, #FDE7FD 0%, #F8FDFF 70%);
  box-shadow: 0px 0px 9px 6px rgb(0, 0, 0, 30%);
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 86px;
}

.title-styles-create {
  width: 300px;
  height: 104px;
}

.title-styles-create p:nth-child(1) {
  color: #272A2C;
  font-size: 22px;
  font-weight: 650;
  margin: 34px 0px 15px 0px;
}

.title-styles-create p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  color: #6a6a6a;
}

.input-name {
  margin: 38px 0px 0px 0px;
}

.form-create-workspace {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container-center {
  display: flex;
  background-image: url(../../assets/images/bonsai.svg);
  background-size: 316px;
  width: 316px;
  justify-content: center;
  align-items: flex-end;
}

.container-inputs-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-inputs-left {
  margin: 0px 0px 54px 0px;
}
.margin-inputs {
  margin: 0px 0px 40px 0px;
}

.container-inputs-style {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* margin: 0px 0px 54px 0px; */
}

.title-input {
  font-size: 13.5px;
  font-weight: 600;
  color: #000000;
}

.container-inputs-create {
  border: 1px solid #B7C1C7;
  outline: none;
  background: #FFFFFF;
  color: #BABABA;
  font-size: 13px;
  font-weight: 100;
  font-family: lora;
  width: 300px;
  height: 42px;
  border-radius: 5px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-add-members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content-select p:nth-child(2) {
  color: #6a6a6a;
  font-size: 11px;
  font-weight: 500;
}

.content-select p:nth-child(3) {
  font-size: 14px;
  font-weight: 650;
  color: #6a6a6a;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.container-title-add-members {
  display: flex;
  justify-content: space-between;
}

.container-title-add-members p:nth-child(2) {
  font-size: 11px;
  color: #00AEE5;
  font-weight: 100;
  cursor: pointer;
}

.input-add-description {
  height: 104px;
  overflow-y: auto;
  white-space: pre-wrap;                                       /* Here */
  padding: 12px 15px;
}

.button-create-workspace-style {
  width: 300px;
  height: 42px;
  border-radius: 4px;
}

.bonsai {
  width: 316px;
}
